*{
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

#btn{
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #00eaff;
  color: #10191a;
  font-weight: 900;
}

.taskbg{
  background-image: url('./images/hinge.webp');
  background-position: center;
  background-color: transparent;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.btncont{
  display: none;
}

.playbtn{
  display: none;
}

.loader{
  position: fixed;
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 color:#ffffff;
 font-size: 50px;
 font-weight: 700;
 z-index: 1111;
}

.wheelCont{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker{
  position: absolute;
  top: -30px;
  width: 30px;
  height: auto;
}

.b-nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#wheel{
    height: auto;
}

.rotating {
  animation-name: spin;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes spin {
  to {
    transform: rotate(3000deg);
  }
}

#wheel {
  transition: transform 5s ease-in-out; 
}


.rot-pos-1-0{
  transform: rotate(0deg);
}

.rot-pos-2-0{
  transform: rotate(90deg);
}

.rot-pos-3-0{
  transform: rotate(180deg);
}

.rot-pos-4-0{
  transform: rotate(270deg);
}

.rot-pos-1-1{
  transform: rotate(45deg);
}

.rot-pos-1-2{
  transform: rotate(20deg);
}

.rot-pos-1-3{
  transform: rotate(55deg);
}

.rot-pos-2-1{
  transform: rotate(110deg);
}

.rot-pos-2-2{
  transform: rotate(140deg);
}

.rot-pos-2-3{
  transform: rotate(170deg);
}

.rot-pos-3-1{
  transform: rotate(200deg);
}

.rot-pos-3-2{
  transform: rotate(235deg);
}

.rot-pos-3-3{
  transform: rotate(250deg);
}

.rot-pos-4-1{
  transform: rotate(280deg);
}

.rot-pos-4-2{
  transform: rotate(300deg);
}

.rot-pos-4-3{
  transform: rotate(340deg);
}

.winCardCont{
  position: fixed;
  background-color: #00191bc2;
  width:100vw;
  height:100vh;
  z-index: 111;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: not-allowed;
}
.winCard{
  border-radius: 10px;
  background: #000000;
  width: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.avatarCont{
  position: relative;
}

.avatar{
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.winMarker{
  position: absolute;
  width:30px;
  height: auto;
  bottom: 0;
  right: -10px;
}

div#container{
  width: 100%;
  background-color: #1430339d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 5px 300px 5px;
}

.wheelCont{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.rotating {
  animation-name: spin;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes spin {
  to {
    transform: rotate(3000deg);
  }
}

#wheel {
  transition: transform 5s ease-in-out; 
}


.rot-pos-4-0{
  transform: rotate(0deg);
}

.rot-pos-3-0{
  transform: rotate(90deg);
}

.rot-pos-2-0{
  transform: rotate(180deg);
}

.rot-pos-1-0{
  transform: rotate(270deg);
}

.rot-pos-4-1{
  transform: rotate(45deg);
}

.rot-pos-4-2{
  transform: rotate(20deg);
}

.rot-pos-4-3{
  transform: rotate(55deg);
}

.rot-pos-3-1{
  transform: rotate(110deg);
}

.rot-pos-3-2{
  transform: rotate(140deg);
}

.rot-pos-3-3{
  transform: rotate(170deg);
}

.rot-pos-2-1{
  transform: rotate(200deg);
}

.rot-pos-2-2{
  transform: rotate(235deg);
}

.rot-pos-2-3{
  transform: rotate(250deg);
}

.rot-pos-1-1{
  transform: rotate(280deg);
}

.rot-pos-1-2{
  transform: rotate(300deg);
}

.rot-pos-1-3{
  transform: rotate(340deg);
}

@media (max-width: 1200px) {
    #wheel{
        width: 500px;
    }

    #btn{
        width: 300px;
    }
    
}

@media (max-width: 992px) {
    canvas{
        height: 40vh;
    }

    #wheel{
        width: 300px;
    }

    #btn{
        width: 150px;
    }
}

@media (max-width: 768px) {
    canvas{
        height: 35vh;
    }

    div#container{
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    }

    #wheel{
        width: 300px;
    }

    #btn{
        width: 300px;
    }
    
.winCard{
  width: 500px;
}
}

.spark-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.spark-animation {
  animation-name: spark-movement;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes spark-movement {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spark-element:after,
.spark-element:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: #00eaff;
  opacity: 1;
  animation-name: spark;
  animation-duration: inherit; /* Inherit from .spark-animation */
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}

/* Randomize spark positions */
.spark-element:after {
  left: 20%;
  top: 10%;
  animation-delay: 0.2s;
}

.spark-element:before {
  right: 30%;
  bottom: 15%;
}

@keyframes spark {
    
}


@media (max-width: 576px) {
    canvas{
        height: 30vh;
    }

    #wheel{
        width: 300px;
    }

    #btn{
        width: 200px;
    }
    
.winCard{
  width: 100%;
}
}

@media (max-width: 480px) {
    canvas{
        height: 25vh;
    }

    #wheel{
        width: 200px;
    }

    #btn{
        width: 200px;
    }
}

@media (max-width: 360px) {
    canvas{
        height: 20vh;
    }

    #wheel{
        width: 200px;
    }

    #btn{
        width: 150px;
    }

    .txt-2xlg{
      font-size: 48px;
    }
    
.winCardCont{
  padding: 5px;
}
}
